body {
    height: 100%;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff398;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #ffed96;
    box-shadow: 0px 0px 25px #a49a4e;
}

.header {
    width: 100%;
    padding: 8px 4%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.main-content {
    width: 95%;
    height: 76.5vh;
    display: flex;
    gap: 20px;
    padding: 0 4% 20px;
}

.sidebar {
    width: 250px;
    height: 100%;
    overflow-y: auto;
}

.user-list {
    margin-top: 10px;
}

.user-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    background: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.user-item img {
    width: 35px;
    border: 3px solid #000000;
    border-radius: 50%;
}

.user-item p {
    font-size: 25px;
}

.login-logout {
    display: flex;
    align-items: center; 
    background-color: #eaeaea;
    border-radius: 25px;
    padding: 0 20px; 
    margin-top: 20px;
    height: 40px; 
}

.login-logout button {
    font-size: 18px; 
    background: transparent; 
    border: none; 
    color: #000; 
    cursor: pointer; 
    height: 100%;
}

.login-logout button:hover {
    color: #ffffff;
}

.chat-section {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.chat-header {
    padding: 1% 4% 5px 4%;
    border-bottom: 1px solid #e8e8e8;
}

.current-user {
    display: flex;
    align-items: center;
    font-size: 30px;
}

#current-user-image {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 4%;
    width: 100%;
    box-sizing: border-box;
}

.chat-input {
    flex-grow: 1;
    background-color: #eaeaea;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

.chat-input::placeholder {
    font-family: Arial, sans-serif;a
}

.send-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.send-button:hover {
    color: #3380bc;
}


.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 72%;
    overflow-y: scroll;
    padding: 0 4% 35px;
    color: #ffffff;
}

.chat-message.user {
    background-color: #2e82e2; 
    align-self: flex-end; 
    padding: 8px 12px; 
    font-size: 16px; 
    border-radius: 15px; 
    max-width: 80%; 
    word-wrap: break-word; 
    display: inline-block; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

/* styling for when receiving message */
.chat-message.other {
    background-color: #f1f0f0;
    align-self: flex-start; 
    padding: 8px 12px; 
    font-size: 16px; 
    border-radius: 15px; 
    max-width: 80%; 
    word-wrap: break-word; 
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px; 
}
